# Node modules
/node_modules

# Logs
*.log
logs/

# Dependency directories
/coverage

# Build files
/dist

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.sublime-workspace
